.go {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.square {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  will-change: scroll-position;

  /* justify-content: center;
  align-items: center; */
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
